name: Create coverage badge

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'adopt'

      - name: Generate coverage output
        id: kotter_cov
        run: |
          echo "COVERAGE=$(${{github.workspace}}/gradlew -q :kotter:printLineCoverage)" >> $GITHUB_ENV

      - uses: schneegans/dynamic-badges-action@v1.5.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: 1fab2b6fd23489bdea3f5d1f38e4dcb2
          filename: kotter-coverage-badge.json
          label: coverage
          message: ${{env.COVERAGE}}%
          valColorRange: ${{env.COVERAGE}}
          minColorRange: 0
          maxColorRange: 100
